
.bg-azul{
    background-color: blue;
}
.bg-amarillo{
    background-color: yellow;
}

.bg-verde{
    background-color: green;
}

.bg-rojo{
    background-color: red;
}

.bg-cafe{
    background-color: brown;
}
